#animals/
#animations/
#banners/
#battlefield/
#characters/
#descr_building_battle/
#descr_items/
#enhanced_tweaks/
#feral_textures
#items/
#loading_screen/
#models/
#models_building/
#models_effects/
#models_engine/
#models_landscape/
#models_missile/
#models_strat/
#models_unit/
#models_vegetation/
#original_overrides/
#settlement_plans/
#sounds/
#string_overrides/
#terrain/
#textures/
#toggles/
#ui/
#ui_overrides/
#vegetation/
